<!DOCTYPE html>
<html lang="en">
<head>
    
</head>
<body>
    {% for movie in movie %}
 
    <div class="card con-padding disp_left" style="width: 15rem;">
      <img class="card-img-top" src="/media/{{ movie.image }} " alt="Card image cap" style="width:100%;height:200px;">
      <div class="card-body">
        <h5 class=" movie-title">{{ movie.movie_name }}</h5>
        <p class="card-text">{{ movie.movie_release_date }} ‧ {{ movie.movie_duration }} </p>
        
        <a href="#" class="booking-button">Book Ticket </a>    
        </div>
    </div>    
{% endfor %}
</body>
</html>