<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>
  <link rel="stylesheet" href="/static/customer_css/style_for_forms.css" />
  <script src="/static/signup_js/valid.js" defer></script>
  <!-- <link rel="stylesheet" href="style.css" /> -->
  <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="container">
    <span class="big-circle"></span>
    <!--<img src="img/shape.png" class="square" alt="" />-->
    <div class="form">
      <div class="contact-info">
        <h3 class="title">Ticket Booking</h3>
        <p class="text">
          Get movie tickets at best rate.
        </p>





        <div class="contact-form">
          <span class="circle one"></span>
          <span class="circle two"></span>

          <form action="/signup/" method="POST" name="signup_form" onsubmit ="return confirmPassword()">
            <h3 class="title">Sign in</h3>
            {% csrf_token %}   
            
            <div class="input-container">
              <input type="text" id="username" name="username" class="input" placeholder="Username" pattern=".{2,6}" title=" max 6 characters only" required="required" />
              
              
            </div>

            <div class="input-container">
              <input type="email" id="email" name="email" class="input" placeholder="Email" pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+.+$" title="Invalid email"  required="required" />
              
              
            </div>

            <div class="input-container">
              <input type="password" name="password" id="p1"  class="input" placeholder="Password" pattern=".{8}" title="Eight characters only"   required="required" />
              
              
            </div>
            <div class="input-container">
              <input type="password" name="password1" id="p2" class="input" placeholder="Confirm Password" pattern=".{8}" title="Eight characters only" required="required" />
              
             
            </div>
            <div class="form-group ">
              <h6 class="form-control"><span id = "message" style="color:blue"></span></h6>
              <span class="help-block"></span>
              <br>
            </div>
            <input type="submit" value="Sign Up" class="btn" />
            <br><br>

            <div class="input-container">
              <!-- href="signup.php" -->
              <p>Already have an account? <a href="/login">Log in</a>.</p>
              <span>Password</span>
            </div>


          </form>
        </div>

      </div>


      <img style="padding-top:26%;padding-bottom:18%;padding-right:5%;padding-left:0%"
        src="/static/customer_css/theater.jpeg" width="550" height="750">
    </div>

    <!--<script src="app.js"></script>-->
</body>

</html>