<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/homepg_css/style1.css">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

<meta name="viewport" content="width=device-width, initial-scale=1">
<title>BookMyMovie</title>
</head>
<body>
<div class="container">
  <img class="img-blur" src="/static/homepg_css/bk.jpg" alt="Snow" style="width:100%;height:600px;">
  <div class="bottom-left"></div>
  <div class="top-left lefttop-text">BookMyMovie</div>
  <div class="top-right">
  <button class="s-button"><a href="/login">Sign in</a></button>
  <button class="s2-button"><a href="/signup">Sign up</a></button>
  </div>
  <div class="bottom-right"></div>
  <div class="centered cenetered-text">Book Movie Tickets<br>At Best Price.<br><br>
  <form class="example" action="{% url 'search_content' %}">
  <input type="text" placeholder="Search movie" name="search">
  <button type="submit"><i class="fa fa-search"></i></button>
  </form>
  -</div>
</div>

<div class="trending-container">
<button class="trending-button">Trending</button><br>

{% include 'movie_display/movie.html' %}

<br /> <br />

</div>



<div class="footer-dark">
  <footer>
      <div class="container">
          <div class="row">
     
              <div  class="col-md-6 item text">
                  <p>Now don’t miss out on any movie whether it is Hollywood, Bollywood or any regional movies. Book movie tickets for your favourite movies from your home, office or while travelling. Just go to BookMyMovie.com and partake the pleasure of effortless online movie tickets booking in Goa. Don’t let the long queues and endless wait time ruin your movie-going experience.</p>
              </div>
              <div style=" display: lex;justify-content:center;" class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
          </div>
          <p class="copyright">bookmymovie ©2021</p>
      </div>
  </footer>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>


</body>
</html> 
